1. Different type of variables

In [6]:
a="Jay"
b=[1,5,7]
c=3.14
d=(1,2,3) #tuple

2. Data types of given variable

In [7]:
var1=' '
var2='[DS,ML,PYTHON]'
var3=['DS','ML','PYTHON']
var4=1

In [10]:
type(var1)

str

In [11]:
type(var2)

str

In [12]:
type(var3)

list

In [13]:
type(var4)

int

3. Different type of operators

In [14]:
# Division /: Performs division, resulting in a float value.
100/4

25.0

In [15]:
# Modulo %: Returns the remainder after division.
100%4

0

In [16]:
# Floor Division //: Performs division and returns the floor value.
26//3

8

In [17]:
# Exponentiation **: Raises the left operand to the power of the right operand.
2**3

8

4. For loop

In [20]:
l=[1,2.15,True,False,3+7j,"Jay",3,25,"ML",4]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2.15
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
(3+7j)
<class 'complex'>
Jay
<class 'str'>
3
<class 'int'>
25
<class 'int'>
ML
<class 'str'>
4
<class 'int'>

5. While Loop

In [3]:
A = 1000000
B = 2

count = 0

while A % B == 0:
    A = A / B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 6 times.

6. For Loop

In [4]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

7. Mutable and immutable data types

In [5]:
# mutable
l=[1,2,3]
l[2]=500
l

[1, 2, 500]

In [6]:
# immutable
h="jay"
h[1]

'a'

In [7]:
h[1]=b

NameError: name 'b' is not defined